[submodule "lib/World"]
	path = lib/World
	url = https://github.com/mmorise/World
[submodule "lib/ColorCout"]
	path = lib/ColorCout
	url = https://github.com/YuzukiTsuru/ColorCout
[submodule "lib/dialog"]
	path = lib/dialog
	url = https://github.com/samhocevar/portable-file-dialogs
